# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify the key libraries used in Data Science.
- Explain the roles of Data Scientists.
- Discuss the applications of Data Science in real-world scenarios.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. caret

| Data Science Tools |
| -------------|
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [24]:
(3*4)+5
# This a simple arithmetic expression to multiply and then add an integer

17

In [30]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(f"{hours}")

3.3333333333333335

## Author 
Ilya P.